<ion-header>
  <ion-toolbar color="warning">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place">
    </ion-searchbar>
  </ion-toolbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <div #map class="map"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="alarm" tappable (click)="FixTimeMarkerFunc()"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="clock" tappable (click)="OpenTimeMarkerFunc()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>